{% extends "base.html" %}

{% block content %}

<div class="blue_box login_box">
  <div class="logo">Procrastinater</div>
  <form method="post" action="/login/">{% csrf_token %}
    {% if form.errors %}
      <div class="form_error">
        Invalid username or password
      </div>
    {% endif %}
    <table class="form_table">
      <tr>
        <td class="form_label">{{ form.username.label_tag }}</td>
        <td class="form_input">{{ form.username }}</td>
      </tr>
      <tr>
        <td class="form_label">{{ form.password.label_tag }}</td>
        <td class="form_input">{{ form.password }}</td>
      </tr>
    </table>

    <input type="submit" value="Sign in" class="button" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>

{% endblock %}
